<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.h2a.fitbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitbook">
        <activity
            android:name=".views.activities.sharing.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.sharing.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.sharing.ShareNewPostActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.addfood.ManualAddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.addfood.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.home.HomeRescheduleActivity"
            android:exported="false"
            android:label="@string/title_activity_home_reschedule"
            android:parentActivityName=".views.activities.home.HomeDetailActivity" />
        <activity
            android:name=".views.activities.home.HomeDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_home_detail"
            android:parentActivityName=".views.activities.MainFeatureActivity" />
        <activity
            android:name=".views.activities.MainFeatureActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.Fitbook.NoActionBar" />
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>